.footer .left-side{
	float: left;
	/*border: 1px solid red;*/
}
.footer .left-side a{
	display: block;
	width: 122px;
	height: 124px;
	margin-top: 44px;
	margin-left: 48px;
	background: url("../images/theme/footer/twitter.png") no-repeat;
}
.footer .right-side{
	clear: right;
	/*border: 1px solid green;*/
}