body{
	margin: 0px;
	width: 100%;
	z-index: 0;
	color: white;
	/*background-color:yellow;*/
}
.layout{
	width: 898px;
	margin: 0 auto;
}
/*Black header*/
#header{
	width: inherit;
	height: 49px;
	position: relative;
	z-index: 3;
	background: url("../images/theme/header/layer3/black-bg.png") repeat-x;
	background-position: left top;
}
.header-contant{
	z-index: 4;
	height: 49px;
	padding-top: 11px;
}
.header-contant a{
	color: white;
	text-decoration: none;
	font-size: 26px;
	text-shadow: 2px 2px black;
}
.header-shadow{
	clear: both;
	width: inherit;
	height: 5px;
	background: url("../images/theme/header/layer3/black-bg-shadow.png") repeat-x;
	z-index: 5;
}

/*Blue header*/
.header-widget{
	z-index: 1;
	height: 492px;
	width: 100%;
	margin-top: -70px;
	/*padding-top: 50px;   no need. just for development mode */
	/*float:left;*/
	background: url("../images/theme/header/layer1/blue-bg.png") repeat-x;;
}
.header-widget-contnet{
	z-index: 2;
	height: 499px;
	color: white;
	margin-top:-53px;
	margin-bottom:0px;
	overflow:visible;
}
.details{
	width: 334px;
	margin-top: 44px;
	margin-bottom: 31px;
	font-size: 17px;
	text-shadow: 2px 2px #069;
}
.learn-more{
	display: block;
	width: 151px;
	height: 31px;
	padding-top: 9px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #069;
	text-decoration: none;
	background-image: url("../images/theme/header/layer2/button.png");
	background-position: 0px 0px;
	background-size: 150px 39px;
	background-repeat:no-repeat;
}
.learn-more:hover{
	background-image: url("../images/theme/header/layer2/button-hover.png");
}
.header-widget-shadow{
	clear: both;
	height: 5px;
	width: inherit;
	z-index: 1;
	background: url("../images/theme/header/layer1/blue-bg-shadow.png") repeat-x;
}
.content-item{
	padding-top: 115px;
	font-size: 36px;
	text-shadow: 2px 2px #069;
	font-weight: normal;
}
/*main page*/